.wcs-input-wrapper {
    position: relative;
    display: flex; 
    flex-direction: column;
    margin: 20px;
}

.wcs-label {
    position: absolute;
    left: 2px;
    top: 3px;
    transition: all .2s;
    padding: 2px;
    font-size: 14px;
    color: #888;
}

.wcs-label.active {
    top: -12px;
    font-size: 12px;
    background-color: #FFF;
    color: #4477FF;
    transition: all .2s;
}

input {
    outline: none;
    max-width: 150px;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 3px;
    background: none;
    color: #4477FF;
}

.wcs-input.active {
    border: 1px solid #4477FF;
}