:root {
    --text-inactive-color: #AAA;
    --text-active-color: #111;

    --color: #222;
    --bg-color: #DDD;
    --bg-light-color: #EEE;

    --text-size: 14px;
    --title-size: 22px;
    --subtitle-size: 18px;
}

.wcs-main {
    min-height: 600px;
    display: flex;
    justify-content: center;
}

.wcs-orders-wrapper {
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

@media screen and (max-width: 780px) {
    .wcs-main {
        flex-direction: column-reverse;
    }

}