:root {
    --text-inactive-color: #AAA;
    --text-active-color: #111;

    --color: #222;
    --bg-color: #DDD;
    --bg-light-color: #EEE;

    --text-size: 14px;
    --title-size: 22px;
    --subtitle-size: 18px;
}

.wcs-main {
    min-height: 600px;
}